{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  <div class="followings half">
    <h2>팔로잉 목록</h2>
    {% if user.Followings %}
      {% for following in user.Followings %}
        <span>{{following.nick}}</span>
        <form action="/chat/room" method="post" style="display:inline">
          <input type="text" name="follwer_nick" placeholder="{{following.nick}}" style="display:none">
            <button class="chat-start" type="submit">채팅하기</button>
        </form><br>  
      {% endfor %}
    {% endif %}
  </div>
  <div class="followers half">
    <h2>팔로워 목록</h2>
    {% if user.Followers %}
      {% for follower in user.Followers %}
        <span>{{follower.nick}}</span>
        <form action="/chat/room" method="post" style="display:inline">
          <input type="text" name="follwer_nick" placeholder="{{follower.nick}}" style="display:none">
            <button class="chat-start" type="submit">채팅하기</button>
        </form><br>
      {% endfor %}
    {% endif %}
  </div>
</div>
<h1>채팅방</h1>
<fieldset>
  <legend>채팅방 목록</legend>
  <table>
    <thead>
    <tr>
      <th>방 제목</th>
    </tr>
    </thead>
    <tbody>
    {% for room in rooms %}
      <tr data-id="{{room.id}}">
        <td>{{room.name}}</td>
        <td>
          <button data-id="{{room.id}}" class="join-btn"> 입장</button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="error-message">{{error}}</div>
  <a href="/chat/room">채팅방 생성</a>
</fieldset>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('http://www.jisanbird.site', { // 네임스페이스
    path: '/socket.io',
  });

  socket.on('newRoom', function (data) { // 새 방 이벤트 시 새 방 생성

    if(data){
      const tr = document.createElement('tr');
      let td = document.createElement('td');

      td.textContent = data.name;
      tr.appendChild(td);

      td = document.createElement('td');
      const button = document.createElement('button');
      button.textContent = '입장';
      button.dataset.id = data.id;
      button.addEventListener('click', addBtnEvent);
      td.appendChild(button);
      tr.appendChild(td);
      tr.dataset.id = data.id;
      document.querySelector('table tbody').appendChild(tr); // 화면에 추가
    }
  });

  socket.on('removeRoom', function (data) { // 방 제거 이벤트 시 id가 일치하는 방 제거
    document.querySelectorAll('tbody tr').forEach(function (tr) {
      if (tr.dataset.id === data) {
        tr.parentNode.removeChild(tr);
      }
    });
  });

  function addBtnEvent(e) { // 방 입장 클릭 시

    location.href = '/chat/room/' + e.target.dataset.id;

  }

  document.querySelectorAll('.join-btn').forEach(function (btn) {
    btn.addEventListener('click', addBtnEvent);
  });
</script>
{% endblock %}

{% block script %}
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get('error')) {
      alert(new URL(location.href).searchParams.get('error'));
    }
  };
</script>
{% endblock %}
