{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div>
    프로필 사진
    <form id="twit-form" action="/post/profile_img" method="post" enctype="multipart/form-data">
      <div class="img-preview">
        <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
        <input id="img-url" type="hidden" name="url">
      </div>
      <div>
        <label id="img-label" for="img">사진 업로드</label>
        <input id="img" type="file" accept="image/*">
        <button id="twit-btn" type="submit" class="btn">적용</button>
      </div>
    </form>
  </div>
  <div>
    <form id="update-form" action="/user/update" method="post">
      닉네임 <input type="text" name="nick" value="{{user.nick}}"><br/>
      비밀번호 <input type="password" name="password" value=""><br/>
      <button id="update-btn" type="submit" class="btn">적용</button>
    </form>
    
  </div>
{% endblock %}


{% block script %}
<script>
  if (document.getElementById('img')) {
    document.getElementById('img').addEventListener('change', function(e) {
      const formData = new FormData();
      console.log(this, this.files);
      formData.append('img', this.files[0]);
      axios.post('/post/img', formData)
        .then((res) => {
          document.getElementById('img-url').value = res.data.url;
          document.getElementById('img-preview').src = res.data.url;
          document.getElementById('img-preview').style.display = 'inline';
        })
        .catch((err) => {
          console.error(err);
        });
    });
  }
</script>
{% endblock %}